.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
}

h1 {
    color: var(--text-light);
    font-family: var(--main_font);
}

h1 {
    color: var(--text-light);
    font-family: var(--main_font);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

/* Адаптивность для мобильных устройств */

@media (max-width: 768px) {
    .catalog-grid {
        /* Карточки будут занимать всю ширину и выстроятся в колонку */
        flex-direction: column;
    }
}